{% extends 'digressions/base.html' %} {% block content %}


<h4>
    <div style="font-family:cursive;font-size:130%;color:bisque;font-style: italic;">
        <p>"Parmi les quelque deux mille occurrences de comparaisons en comme que l’on compte dans la Recherche, il est des réalisations où la figure ne constitue pas seulement un procédé stylistique à valeur illustrative, susceptible de soutenir l’entreprise de déchiffrement qui nourrit l’esthétique métaphorique proustienne. Elle agit, par surcroît, comme un agent de contraste qui permet d’observer comment des éléments qui sont au cœur de l’art proustien du roman se matérialisent à même l’écriture et trouvent dans la comparaison un principe de structuration."
            <br>Ilaria Vidotto (docteure en littérature française Université de Bologne)</p>
    </div>

</h4>



<h4><a href="https://journals.openedition.org/rief/1496">   le texte complet d'Ilaria Vidotto </a></h4>





<h4> <a href="/static/digressions/point_de_vue_Ilaria.pdf"> Lire le point de vue d'Ilaria Vidotto </a> sur la possible autonomie du comparant d'un certain nombre de comparaisons proustiennes
</h4>


<h4><a href="/static/digressions/grammaire.pdf"> analyse d'IlariaVidotto </a>sur ...comme un collégien</h4>


{% endblock %}Ò
