{% extends 'digressions/base.html' %} {% block content %}


<h4>"Parmi les quelque deux mille occurrences de comparaisons en comme que l’on compte dans la Recherche, il est des réalisations où la figure ne constitue pas seulement un procédé stylistique à valeur illustrative, susceptible de soutenir l’entreprise de déchiffrement qui nourrit l’esthétique métaphorique proustienne. Elle agit, par surcroît, comme un agent de contraste qui permet d’observer comment des éléments qui sont au cœur de l’art proustien du roman – et plus particulièrement de la technique « si fouillée, si nouvelle » présidant au traitement des personnages et de leur langage – se matérialisent à même l’écriture et trouvent dans la comparaison un principe de structuration." Ilaria Vidotto</h4>

<h3><a href="https://journals.openedition.org/rief/1496">   le texte complet d'Ilaria Vidotto </a></h3>
<h3><a href="/static/digressions/grammaire.pdf"> analyse d'Ilaria Vidotto sur ...comme un collégien</a></h3>



{% endblock %}
