
{% extends 'digressions/base.html' %}
{% block content %}
<div class="container">
  <div class="text-center">
    <div class="text-primary"><h3> classement des mots-clés par fréquence</h3></div>
  </div>
</div>


<footer>





{% if dico %}
	<ul class="list-unstyled"> 
		{% for etiq , value in dico.items %}

	<li>  <a href="/{{etiq.id}}/detail">  <h5>{{ etiq}} ( {{value}} )</h5>
	 </a></li>
		{% endfor %}
    
    </ul>
 </footer>
{% else %}
   	 <p>pas de mots-clés</p>
{% endif %}


</div>

{% endblock %}






