<head>
{% extends 'digressions/base.html' %}
{% block content %}



</head>




<div class="container">
  <div class="text-center">
    <div class="text-primary"><h3> 
    classement par titre d'extraits</h3>
     
</div>
  </div>
</div>


<footer>




{% if titre_list %}
	<ul class="list-unstyled"> 
		{% for t , id in titre_list.items %}

	
	
		
<li>   <a  href="/{{id}}/contenu"> {{t}} </a>
	



	 


		
		
	 </a></li>


	 
		{% endfor %}
    
    </ul>
 </footer>
{% else %}
   	 <p>pas de mots-clés</p>
{% endif %}


</div>

{% endblock %}






