<head>
    {% extends 'digressions/base.html' %} {% block content %}

<meta name="google-site-verification" content="o3tEqz_jtKaMi1j3x6ErPukQ8xOZXHPPLHHdUlkBUvs" />

</head>




<div class="container">
    <div class="text-center">
        <div class="text-primary">
            <h3>
                classement par titre d'extraits</h3>
            <h6 style="font-family: arial;font-size:110%;font-style: italic;color:bisque"> le nombre entre parenthèses indique le nombre de commentaires associés à l'extrait</h6>

        </div>
    </div>
</div>


<footer>






    {% if dictionnaire %}
    <ul class="list-unstyled">
        {% for t , value in dictionnaire.items %}




        <li>


            <a href="/{{t.id}}/contenu"> {{t}} {{value}}



            </a>



        </li>



        {% endfor %}

    </ul>
</footer>
{% else %}
<p>pas de mots-clés</p>
{% endif %} {% endblock %}
