 {% load static %}

<head>
    <title>Proust</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'digressions/style.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>




<style>
    a {
        color: blue;
    }

    body {
        width: 90%;
        height: 100%;
        color: red;
        background-color: black;
        background-image: url(static/digressions/images/combray_en_grand.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 20 100;
    }

</style>

<body>


    <div class="container-fluid">
        <h1>
            <div class="text-center">les "...comme" de Proust </h1>
        <div>

            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="inactive"><a href="/">Accueil</a></li>
                            <li><a href="/apropos">A propos</a></li>
                            <li><a href="/poursyretrouver">Mots Clés alpha <span> mots clés triés par ordre alphabétique </span></a></li>
                            <li><a href="/liensinteressants">Autour de Proust</a></li>
                            {% if user.is_authenticated %}

                            <li><a href="#">{{user.username }}</a> </li>
                            <li><a href="{% url 'logout' %}">déconnexion</a></li>
                            <li><a href="/mescommentaires"> mes commentaires</a></li>



                            {% else %}
                            <li><a href="/accounts/signup">s'inscrire <span> S'inscrire permet de se connecter et d'écrire des commentaires </span></a></li>
                            <li><a href="/accounts/login">se connecter <span> Eventuellement s'inscrire auparavant pour écrire des commentaires </span>
        </a></li>


                            {% endif %}
                        </ul>
                    </div>
                    <form class="navbar-form navbar-right" action="/recherche" method="POST">
                        <div class="form-group">

                            <input type="text" class="form-control" name="mot" placeholder="mot recherché">
                            <input type="submit"> {% csrf_token %}
                        </div>
                    </form>
                </div>
            </nav>
        </div>





        <ul class="list-unstyled">
            <li><a href="http://amisdevinteuil.fr">Les Amis de Vinteuil</a></li>
            <li><a href="http://proust-personnages.fr"> les personnages de Proust</a> </li>
            <li><a href="https://lefoudeproust.fr"> le fou de Proust</a></li>
            <li><a href="http://coquelicot2007.centerblog.net"> du côté de chez Proust</a></li>
            <li><a href="https://marcelproustrecherche.wordpress.com"> du côté de chez Proust (Montréal)</a></li>
            <li><a href="http://proustien.over-blog.com"> Marcel Proust autrement </a></li>
            <li><a href="https://journals.openedition.org/rief/1496"> La vérité n’a pas besoin d’être dite pour être manifestée d'Ilaria Vidotto </a></li>



        </ul>


</body>
