{% extends 'digressions/base.html' %}
{% block content %}





{% if commentaires %}



	{% for c in commentaires %}
	
	<ul class="list-unstyled">
		

		<p> <a href="/{{c.titre_id}}/contenu">{{c.titre}} </a></p>



		  le  {{c.date}}</p>
		<div class="jumbotron">
	 <li><p style="font-family:verdana;font-size:100%;color:red;">
		{{c}} </p></li>

<div class="container">
  <div class="row">
    
    <div class="col-lg-2">
      <a href="/{{c.id}}/mescommentaires/amodifier" class="btn btn-primary btn-sm " role="button" >Modification</a>
    </div>
    <div class="col-lg-2">
     
    </div>
    <div class="col-lg-2">
     
    </div>
    <div class="col-lg-2">
     
    </div>
    <div class="col-lg-2">
     
    </div>
    
    <div class="col-lg-2">
      <a href="/{{c.id}}/mescommentaires/asupprimer" class="btn btn-danger btn-sm " role="button" >Suppression</a>
      
    </div>
  </div>
</div>	


	

	
		


	</ul>

	{% endfor %}


{% else %}
   	 <p>Pas encore de commentaires</p>
{% endif %}

{% endblock %}
