
{% extends 'digressions/base.html' %}
{% block content %}

<div class="container">
  <div class="text-center">
    <div class="text-primary"><h3> classement alphabétique des mots-clés </h3></div>
  </div>
</div>
<footer>
{% if dico %}
	<ul class="list-unstyled">


		{% for etiq , value in dico.items %}
       {% if value == '' %}

          
         <h5> {{etiq}} </h5>  

       {% else %}

	           <li> <a href="/{{etiq.id}}/detail"> {{ etiq}} {{value}} </a></li>
        {% endif %}
		{% endfor %}


  </ul>
</footer>
{% else %}
   	 <p>No proust are available.</p>
{% endif %}

{% endblock %}



