<head>



{% extends 'digressions/base.html' %}
{% block content %}
</head>


<body>

{% if somme %}
<div class="container">
  <div class="text-center">
    <div class="text-primary"> <h4>{{mot}}...apparaît dans  {{somme}}  extrait{{somme|pluralize}}  du site </h4>
    </div>
  </div>
</div>



{%endif%}


{% if dico %}

	<ul class="list-unstyled">
		{% for idTitre, titre  in dico.items %}

	<li> <h4> <a href="/{{idTitre}}/contenu">   {{titre}} </a></h4></li>
		{% endfor %}
    </ul>
{% else %}
	{% if "???" in mot %}
		<h4> entrez un mot dans la zone de recherche</h4>
	{% else %}


	<h4> {{mot}}... n'existe pas dans les extraits choisis</h4>
	{% endif %}










{% endif %}


</div>
</body>

 <!-- <h1>{{ question.question_text}} </h1> -->
 {% endblock %}