h1,h2 {
    color: blue;
}
* {
	box-sizing: border-box;
}
footer {
  margin: 10px;
	font-family: helvetica, arial, sans-serif;
	columns: 5;
}
	
p {
  color: blue;
  padding: 10px;
  margin: 0;
  background: white;
  
  /* display: inline-block; width: 100%; 
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */
  
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
<style>
            /* Règle de base pour le lien */ 
            a{ 
                color:#blue; 
                 
            } 
            a:hover,a:focus{
                color:#000;
            }
            
            /* Position et couleur bulle */
            a span{ 
                position:absolute;
                margin-top:-200px; 
                margin-left:-25px;
                color:#fff; 
                background:rgba(100, 100, 0, 0.5); 
                padding:50px; 
                border-radius:3px; 
                
                /* Faire disparaire infobulle par défaut */
                /* On determine l'origine de la rotation */ 
                transform:scale(0) rotate(-180deg);
                /* Faire durer l'effet */
                transition:all .25s;
                /* Effet sur la transparence */ 
                opacity:0;
            }
            
            /* Apparition de la bulle avec le scale à 1 */ 
            a:hover span, a:focus span{ 
                transform:scale(1) rotate(0);
                /* Effet sur la transparence */ 
                opacity:1;
            }
        
        </style>  
/*p:first-child {background: tomato}
p:nth-child(2) {background: orange}
p:nth-child(3) {background: #800000}
p:nth-child(4) {background: #FF3399}
p:nth-child(5) {background: #3399FF}
p:nth-child(6) {background: #bada55}**/